<div class="fb-social-discussion-inner component-inner ">
    {{> component this}}
	<div class="social-comment-form">
		<form class="comment-form" action="#" onsubmit="event.preventDefault();">
			<input id="comment" type="text" placeholder="Post a comment" required="">
			<button class="btnSubmit " type="submit">SUBMIT</button>
		</form>
	</div>
	<!-- End of social-comment-form -->
  
	<div class="flex items-start">
		<div class="social-comment-box">
		
			<span id="sTime" class="btnSort sortTime btnSort-active">Recent</span>
			<span id="sVotes" class="btnSort sortVotes">Top</span>
		
			<ul id="comments" style="max-height:684px" data-id="{{_id}}"></ul>
			<!-- End of comments -->

			<div class="no-items-found hidden">
			    <div class="no-items-found-inner">
			        <div class="no-items-found-inner-body">
			            No discussions found. Be the first to comment!
			        </div>
            	</div>
			</div>

			<li id="commentTemplate">
				<div class="user-description">
						<div class="vote vote-top">
							<span class="toggle reply-count">REPLIES</span>
							<div class="flex flex-column favorite-container">
								<span class="f-icon icon-thumbs-up"></span>
								<span class="user-votes"></span>
							</div>
						</div>
						<span class="user-photo hidden"></span>
						<div class="row user-info">
							<span class="user-username"></span>
							<div class="user-specs">
								<span class="user-date"></span>
								<span class="user-time"></span>
								<span class="user-name">
								    <span class="icon icon-person"></span>
                                    <span class="username-text"></span>
                                </span>
								<span class="user-points hidden"></span>
								<span class="user-location hidden"></span>
							</div>
							<p class="user-comment">test</p>
						</div>
						<!-- End of user-info -->
					</div>
					<!-- End of user-description -->
					<div class="bottom-interactions"></div>
					<div class="vote vote-bottom">
						<div class="flex flex-column favorite-container upvote" data-vote="up" data-id="">
							<span class="f-icon icon-thumbs-up"></span>
							<span class="like-text">LIKE</span>
						</div>
					</div>
					<!-- End of vote-bottom -->
					<span class="toggle showReplies reply-button is-open">
					    <span class="f-icon icon-arrow-down"></span>
					    <span class="f-icon icon-arrow-up"></span>
						<span class="show-replies">SHOW REPLIES</span>
					</span>
					<span class="toggleReply">
						<span class="f-icon icon-share"></span>
						<span class="show-reply">REPLY</span>
					</span>
					<span class="delete">Remove</span>
					<form class="subComments" style="display: none;">
						<input id="comment" type="text" placeholder="Reply to post" required="">
						<button class="subComment">REPLY</button>
					</form>
					<ul class="sub-comments"></ul>
			</li>
			<!-- End of commentTemplate -->
		
		</div>
		<!-- End of social-comment-box -->
	
	</div>
	<!-- End of items-start -->


</div>
<!-- End of social-inner -->  